# Environment variables
.env

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

commands/voicemaster/

wheel.js 

# OS files
.DS_Store
Thumbs.db

# Database files
bot.db
bot.db-wal
bot.db-shm
